In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
from ast import literal_eval

In [2]:
%time datos = pd.read_csv('data_tokens.csv')

Wall time: 25.9 ms

In [3]:
%time datos.tokens=datos.tokens.apply(literal_eval)

Wall time: 163 ms

In [4]:
# tickets_cortos=pd.read_csv('tickets_cortos.csv')
similares = pd.read_csv("similares.csv")

In [5]:
datos.drop(index=list(map(lambda elemento: elemento[0],list(similares.values)))
           ,inplace=True
          )

In [6]:
conteo_categorias=datos['etiquetas'].value_counts()
tabla_categorias=pd.DataFrame()
tabla_categorias['conteo']=conteo_categorias
tabla_categorias['porcentaje']=(conteo_categorias/datos.shape[0]*100)
tabla_categorias['acumulado']=tabla_categorias['porcentaje'].cumsum()
tabla_categorias

   conteo  porcentaje   acumulado
1    1053   38.571429   38.571429
2     422   15.457875   54.029304
0     400   14.652015   68.681319
3     293   10.732601   79.413919
4     197    7.216117   86.630037
5     185    6.776557   93.406593
6     180    6.593407  100.000000

In [7]:
conteo_categorias=datos.query("etiquetas==0").categorias.value_counts()
tabla_categorias=pd.DataFrame()
tabla_categorias['conteo']=conteo_categorias
tabla_categorias['porcentaje']=(conteo_categorias/datos.shape[0]*100)
tabla_categorias['acumulado']=tabla_categorias['porcentaje'].cumsum()
tabla_categorias

                   conteo  porcentaje  acumulado
HR Request            147    5.384615   5.384615
Interface Input       116    4.249084   9.633700
External Request       71    2.600733  12.234432
Employee Request       27    0.989011  13.223443
Certified Payroll      26    0.952381  14.175824
Audit                   9    0.329670  14.505495
Pay Admin Request       2    0.073260  14.578755
Reprint Request         2    0.073260  14.652015

In [21]:
filtro_otros=[]
for nombre,grupo in datos.query("etiquetas==0").groupby('categorias'):
    if nombre in ['HR Request','Interface Input','External Request']:
        filtro_otros.append(grupo.loc[np.random.choice(grupo.index,60)])
    else:
        filtro_otros.append(grupo)
filtro_otros=pd.concat(filtro_otros)

In [23]:
filtro_otros.categorias.value_counts().sum()

246

In [24]:
conteo=datos.etiquetas.value_counts()
minimo=conteo.min()
cantidades=conteo.apply(lambda contador: minimo+contador*0.1 if contador!=minimo else contador).astype(int)
cantidades

1    285
2    222
0    220
3    209
4    199
5    198
6    180
Name: etiquetas, dtype: int32

In [25]:
# cantidades.loc[0]=tabla_categorias.loc[0,'conteo']
# cantidades.sort_values(ascending=False)

In [26]:
datos_equilibrados = pd.concat([grupo.loc[np.random.choice(grupo.index,cantidades.loc[nombre])] for nombre,grupo in datos.groupby('etiquetas') if nombre!=0])

In [27]:
datos_equilibrados.etiquetas.value_counts()

1    285
2    222
3    209
4    199
5    198
6    180
Name: etiquetas, dtype: int64

In [28]:
datos_equilibrados=datos_equilibrados.append(filtro_otros)

In [29]:
datos_equilibrados

,categorias,tokens,etiquetas
786,Bswift,"[follow, death, notif, task, detail, provid, w...",1
1001,Bswift,"[hsa, account, refund, fail, vet, afternoon, m...",1
984,Bswift,"[retire, beneficiari, chang, send, address, ad...",1
228,Bswift,"[retir, benefit, task, cousin, tri, take, care...",1
421,Bswift,"[pension, question, name, behalf, mom, verifi,...",1
...,...,...,...
1408,Interface Input,"[attent, ab, team, pleas, creat, posit, hello,...",0
2290,Pay Admin Request,"[rate, increas, effect, pleas, enter, rate, pe...",0
2291,Pay Admin Request,"[import, addit, tax, slip, need, tax, import, ...",0
2292,Reprint Request,"[afternoon, look, copi, paystub, date, pleas, ...",0
2293,Reprint Request,"[stub, request, name, verifi, ssn, verifi, dob...",0

In [30]:
conteo_categorias=datos_equilibrados['etiquetas'].value_counts()
tabla_categorias=pd.DataFrame()
tabla_categorias['conteo']=conteo_categorias
tabla_categorias['porcentaje']=(conteo_categorias/datos.shape[0]*100)
tabla_categorias['acumulado']=tabla_categorias['porcentaje'].cumsum()
tabla_categorias

   conteo  porcentaje  acumulado
1     285   10.439560  10.439560
0     246    9.010989  19.450549
2     222    8.131868  27.582418
3     209    7.655678  35.238095
4     199    7.289377  42.527473
5     198    7.252747  49.780220
6     180    6.593407  56.373626

In [ ]:
datos_equilibrados.to_csv('data_equilibrada.csv',index=False)